In [1]:
import pandas as pd
import seaborn as sns
from collections import defaultdict
import re
import numpy as np

In [2]:
def read_and_merge_dfs():
    cns_df = pd.read_pickle('cns_df.pkl')
    cr_df = pd.read_pickle('cr_df.pkl')
    return pd.merge(cns_df, cr_df, on='IPEDS_ID')

In [3]:
def rename_columns(df):
    df.columns = ['name', 'student_pop', 'student_fac_ratio', 'setting', 'IPEDS_ID',
       'perc_aid', 'relig', 'perc_disab', 'full_fac',
       'part_fac', 'crimi_off', 'vawa_off', 'arrests',
       'discip_actions', 'avg_def_rate', 'endowment',
       'min_serv_inst',
       'avg_fresh_gpa', 'sector',
       'med_ACT', 'perc_admit', 'in_tui_fees',
       'out_tui_fees', 'avg_net_price_after_grant',
       'med_income_after_10', 'med_debt_after_comp',
       'perc_pell_fresh', 'perc_bl', 'perc_la',
       'perc_nat_am', 'perc_nat_hori', 'perc_as',
       'perc_wh', 'perc_two_or_more', 'perc_other', 'perc_alien',
       'perc_fem', 'perc_male', 'perc_over_25', 'perc_pt',
       'first_year_ret', 'four_grad_rate',
       'five_grad_rate', 'six_grad_rate']

In [4]:
def change_religous_column(df):
    mapper = defaultdict(lambda: 'Yes')
    mapper['Not applicable'] = 'No'
    df['relig'] = df['relig'].map(mapper)
    return

In [5]:
def drop_null_rows(df):
    df.dropna(inplace=True)

In [6]:
def strip_perc(df):
    mapper = lambda string: string.replace('%', '')
    df['perc_disab'] = df['perc_disab'].map(mapper)
    df['perc_admit'] = df['perc_admit'].map(mapper)
    df['perc_bl'] = df['perc_bl'].map(mapper)
    df['perc_la'] = df['perc_la'].map(mapper)
    df['perc_nat_am'] = df['perc_nat_am'].map(mapper)
    df['perc_as'] = df['perc_as'].map(mapper)
    df['perc_wh'] = df['perc_wh'].map(mapper)
    df['perc_two_or_more'] = df['perc_two_or_more'].map(mapper)
    df['perc_other'] = df['perc_other'].map(mapper)
    df['perc_male'] = df['perc_male'].map(mapper)
    df['perc_fem'] = df['perc_fem'].map(mapper)
    df['perc_alien'] = df['perc_alien'].map(mapper)
    df['perc_over_25'] = df['perc_over_25'].map(mapper)
    df['perc_pt'] = df['perc_pt'].map(mapper)
    df['first_year_ret'] = df['first_year_ret'].map(mapper)
    df['four_grad_rate'] = df['four_grad_rate'].map(mapper)
    df['five_grad_rate'] = df['five_grad_rate'].map(mapper)
    df['six_grad_rate'] = df['six_grad_rate'].map(mapper)
    df['perc_pell_fresh'] = df['perc_pell_fresh'].map(mapper)
    df['perc_nat_hori'] = df['perc_nat_hori'].map(mapper)
    return

In [7]:
def strip_non_numeric(df):
    mapper = lambda string: re.sub("[^0-9]", "", string)
    df['perc_disab'] = df['perc_disab'].map(mapper)
    df['endowment'] = df['endowment'].map(mapper)
    df['in_tui_fees'] = df['in_tui_fees'].map(mapper)
    df['out_tui_fees'] = df['out_tui_fees'].map(mapper)
    df['avg_net_price_after_grant'] = df['avg_net_price_after_grant'].map(mapper)
    df['med_income_after_10'] = df['med_income_after_10'].map(mapper)
    df['med_debt_after_comp'] = df['med_debt_after_comp'].map(mapper)
    df['full_fac'] = df['full_fac'].map(mapper)
    df['six_grad_rate'] = df['six_grad_rate'].map(mapper)

    return

In [8]:
def fix_act_score(df):
    mapper = lambda string: string[0:4]
    df['med_ACT'] = df['med_ACT'].map(mapper)
    return

In [9]:
def replace_nulls_with_none(df):
    df.replace(to_replace={'-': None}, inplace=True)
    df.replace(to_replace={'': None}, inplace=True)
    return

In [111]:
def convert_to_numeric(df):
    '''Converts all numeric_cols into numeric, converts entries to NaN that
    can't be converted to numeric
    
    The way this works is we first drop all the data_columns from the df, and then use a join to put them back in after passing them through pd.to_numeric (with option 'coerce', such that all non-numeric entries are converted to NaN). The result is saved to num_df.

On the second line we use a filter that keeps only rows where all values are not null.
    '''
    numeric_cols = [column for column in df.columns if column not in ['name', 'setting', 'relig', 'min_serv_inst', 'sector']]
    num_df = (df.drop(numeric_cols, axis=1)
         .join(df[numeric_cols].apply(pd.to_numeric, errors='coerce')))

    num_df = num_df[num_df[numeric_cols].notnull().all(axis=1)]
    return num_df

In [131]:
def read_and_clean_college_data():
    df = read_and_merge_dfs()
    rename_columns(df)
    change_religous_column(df)
    drop_null_rows(df)
    strip_perc(df)
    strip_non_numeric(df)
    fix_act_score(df)
    replace_nulls_with_none(df)
    df = convert_to_numeric(df)
    return df

In [132]:
pd.set_option('display.max_columns', None)

In [133]:
df = read_and_clean_college_data()

In [134]:
df.head()

,name,setting,relig,min_serv_inst,sector,student_pop,student_fac_ratio,IPEDS_ID,perc_aid,perc_disab,full_fac,part_fac,crimi_off,vawa_off,arrests,discip_actions,avg_def_rate,endowment,avg_fresh_gpa,med_ACT,perc_admit,in_tui_fees,out_tui_fees,avg_net_price_after_grant,med_income_after_10,med_debt_after_comp,perc_pell_fresh,perc_bl,perc_la,perc_nat_am,perc_nat_hori,perc_as,perc_wh,perc_two_or_more,perc_other,perc_alien,perc_fem,perc_male,perc_over_25,perc_pt,first_year_ret,four_grad_rate,five_grad_rate,six_grad_rate
1,Alabama State University,City: Midsize,No,Historically Black,Public,4413,15.0,100724,95,3,231,182.0,33.0,21.0,17.0,31.0,20.27,100905446.0,2.80,17.0,45.9,9220.0,16156.0,12327.0,27700.0,31500.0,75.9,93.5,1.1,0.1,0.0,0.3,1.3,1.1,2.5,1.6,62.3,37.7,7.9,7.6,63.0,11.3,23.1,277.0
2,Auburn University,City: Small,No,Not Applicable,Public,30440,19.0,100858,72,7,1644,234.0,73.0,32.0,15.0,159.0,3.43,728995077.0,3.85,27.0,80.5,10696.0,28840.0,22613.0,48800.0,21500.0,12.7,6.6,3.3,0.5,0.0,2.5,81.6,1.3,4.2,3.6,49.7,50.3,3.0,10.0,91.0,49.1,72.9,766.0
3,Auburn University at Montgomery,City: Midsize,No,Not Applicable,Public,5211,17.0,100830,98,4,211,145.0,19.0,27.0,18.0,31.0,10.60,50109520.0,3.30,21.5,76.6,9640.0,20710.0,15047.0,33300.0,23363.0,53.1,36.6,1.5,0.6,0.1,2.4,49.8,3.6,5.3,4.8,64.7,35.3,17.7,27.6,67.0,8.8,21.7,276.0
4,Birmingham-Southern College,City: Midsize,Yes,Not Applicable,Private not-for-profit,1268,12.0,100937,97,11,96,37.0,18.0,15.0,0.0,66.0,5.27,53528445.0,3.48,25.5,48.4,34448.0,34448.0,23846.0,46700.0,26045.0,25.6,11.7,2.2,0.7,0.0,4.9,79.2,1.1,0.2,0.0,50.9,49.1,1.3,0.7,82.0,57.8,64.3,661.0
6,Faulkner University,City: Midsize,Yes,Not Applicable,Private not-for-profit,3178,12.0,101189,99,3,123,174.0,3.0,4.0,2.0,25.0,12.57,18466329.0,3.23,20.5,45.4,20130.0,20130.0,19337.0,35400.0,22850.0,53.8,45.6,2.3,0.5,0.3,0.6,45.1,2.1,3.6,2.6,59.2,40.8,41.6,31.1,54.0,11.7,22.5,274.0

In [135]:
df.to_pickle('clean_data.pkl')